:root {

    /* colours */
    --primary: #061d34;
    --accent: #225897;
    --secondary: #46719f;
    --tertiary: #f3f8fd;


    /* background */
    background-color: var(--tertiary);

    /* scrollbar */
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* body */
body {
    /* font */
    font-family: "Manrope", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: 18px;

    color: var(--primary) !important;
    background-color: var(--tertiary) !important;
}

@media (max-width:576px) {
    body {
        font-size: 16px;
    }
}

/* <h1>,<h2>,<h3>,<h4>,<h5>,<h6> */
h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.45rem;
    font-weight: 150;
}

h3 {
    font-size: 1.95rem;
    font-weight: 150;
}

h4 {
    font-size: 1.56rem;
    font-weight: 300;
}

h5 {
    font-size: 1.25rem;
    font-weight: 300;
}

h6 {
    font-size: 1rem;
    font-weight: 150;
}
